* {
    box-sizing: border-box;
    text-decoration: none;
}

/*barrita*/
.navbar {
    background-color: #000000;
}
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a img {
    height: 160px;
    cursor: pointer;
}

li {
    list-style: none;
    display: inline-block;
}
li a {
    color: white;
    font-size: 25px;
    cursor: pointer
}

.insta_button {
    height: 160px;
    cursor: pointer;
}
.insta_button img {
    height: 100px;
}
.insta_button img:hover {
    background-image: url('res/img/instagram_hover.png');
}

/*cuerpo*/
.skeletonseparator1 {
    text-align: center;
    width: 80%;
    padding-left: 15%;
}

body h1 {
    color:#a3349e;
}

body {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size:x-large;
    color:rgb(255, 255, 0);
    background-color: #000000;
}

