*{
    margin: 0%;
}
@font-face {
  font-family: 'Anthony';
  src: url('fonts/Anthony.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Facade';
  src: url('fonts/Facade-Sud-Ouest.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'resistance';
  src: url('fonts/resistance_generale-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trickster';
  src: url('fonts/Trickster-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FlameOn';
  src: url('fonts/FlameOn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HandWritten';
  src: url('fonts/jennifershand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.snowybg {
    background: url('/maius/res/img/snowybg.png');    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    background: url("res/img/screensavert.gif");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(8, 0, 0);

    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 111%;
    text-align: center;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0 5%;
    padding: 0;
    overflow-x: hidden;
}
body > *:not(.wall) {
  flex: 0 0 auto;
}
h1 {
    font-family: Coral Pixels, monospace;
    max-width: 100%;
    font-size: 350%;
    color: rgb(129, 214, 112);
}
.blogtitle {
    background: url('res/img/firebarnobg.gif');
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: FlameOn;
    font-weight: normal;
    color: rgb(154, 48, 253);
}
h2 {
    color: rgb(184, 169, 101);
    font-family: Facade, monospace;
    font-size: 175%;   
}
body button {
    font-size: 175%;
    font-family: New Rocker;
    width: 25%;
    min-width: 150px;
    border-width: 10px;
    border-style: groove;
    color: rgb(32, 105, 27);
    background-color: rgba(219, 255, 57, 0.692);
    border-color: rgb(144, 185, 77);
}
body button:hover {
    cursor: grab;
    color: rgb(0, 5, 1);
    background-color: rgb(216, 240, 111);
    border-color: rgb(15, 37, 4);
}

.paperstylexmas button {
    font-size: 175%;
    font-family: New Rocker;
    width: 25%;
    min-width: 150px;
    border-width: 10px;
    border-style: groove;
    color: rgb(255, 255, 255);
    background-color: rgba(160, 3, 68, 0.692);
    border-color: rgb(134, 28, 196);
}
input {
    font-family: Anthony;
    font-size:xx-large;
    text-align: center;
    border-style: dashed;
    border-width: 5px;
    border-color: white;
    background-color: black;
    color: antiquewhite;
}
textarea {
    font-family: Anthony;
    font-size:xx-large;
    text-align: center;
    border-style: dashed;
    border-width: 5px;
    border-color: white;
    background-color: black;
    color: antiquewhite;
}
canvas {
    border-style:ridge;
    border-color: rgb(139, 35, 139);
    border-width: 10px;
    top: 50%;
    bottom: 50%;
    width: 600px;
    height: 600px;
}
.unusedtestcolor {
    color: rgb(54, 80, 52);
    background-color: rgba(219, 255, 57, 0.692);
    border-color: rgb(144, 185, 77);
}
.disabled {
    background-color: rgba(13, 13, 32, 0.658);
    border-color: rgb(18, 15, 26);
    color: rgb(64, 57, 83);
}
.disabled:hover {
    background-color: rgb(126, 255, 255);
    border-color: rgb(25, 77, 221);
    color: rgb(8, 14, 19);
}
.wall {
/*    flex: 1 1 auto;*/
    background-position:top;
    background: url("res/img/fullwallcyan.png");
    background-blend-mode:darken;
    background-color: rgb(96, 255, 194);
    width: 92%;
    height:fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 0; 
    position: relative;
    z-index: 1; /* ensures it shows above body background */
    padding: 4%;
}

.paperstyle {
    background: url("res/img/papertexture.png");
    background-color: rgb(110, 40, 175);
    background-blend-mode:difference;
    background-repeat: round;
    width: 90%;
    height: auto;       /* keeps full image ratio */
    padding: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: center;
}
.paperstyle p {
    background: rgba(134, 224, 31, 0.479);
    color: rgb(0, 0, 0);
    text-align: left;
    width: fit-content;
    padding-left: 1%;
    padding-right: 1%;
    font-weight: bold;
    font-family: Facade, monospace;
    font-size: 140%;
}
.paperstyle h2 {
    background: rgba(45, 16, 212, 0.582);
    width: fit-content;
    height: fit-content;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    padding-left: 1%;
    padding-right: 1%;
    color: rgb(163, 255, 57);
    font-family: Anthony;
    font-size: 200%;
}
.paperstyle a {
    background: rgb(163, 255, 57);
    color: rgb(16, 0, 233);
    text-align: left;
    width: fit-content;
    padding-left: 1%;
    padding-right: 1%;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    font-size: 160%;
}
.purplebgstyle {
    /*background-color: rgb(128, 43, 28);*/
    background: url("res/img/purplegradient.png");
    /*background-color: rgba(46, 8, 82, 0.301);*/
    background-repeat: round;
    width: 100%;
    height: auto;       /* keeps full image ratio */
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}
.purplebgstyle p{
    color: rgb(184, 169, 101);
    font-weight: normal;
    font-family: Facade, monospace;
    font-size: 175%;
}
.purplebgstyle h2{
    color: rgb(255, 255, 255);
    font-family: Trickster, monospace;
    font-weight: normal;
    font-size: 175%;
    background-color: rgba(0, 0, 0, 0.555);
}
/*gallery stuff*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 50px;
    padding-left: 2%;
    padding-right: 2%;
}

.gallery img {
    height: auto;
    width: 100%;
    object-fit: cover;  
    border-radius: 1px;
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Overlay */
.overlay {
    position: fixed;
    display: none; /* hidden by default */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
}

.overlay-content {
    max-width: 90%;
    max-height: 100%;
}

.overlay img,
.overlay video {
    max-width: 90%;
    max-height:1000px;
    height: auto;     /* keep natural aspect ratio */
    width: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    color: rgb(255, 59, 173);
    font-size: 100px;
    text-decoration: none;
    font-weight: bold;
}
/*end of gallery stuff*/

/*XMAS SHIT (A FUCKING LOT)*/
.wallxmas {
/*    flex: 1 1 auto;*/
    background-position:top;
    background: url("res/img/fullwallcyan.png");
    background-blend-mode:darken;
    background-color: rgb(96, 255, 194);
    width: 92%;
    height:fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 0; 
    position: relative;
    z-index: 1; /* ensures it shows above body background */
    padding: 4%;
}

.paperstylexmas {
    background: url("res/img/papertexture.png");
    background-color: rgb(175, 40, 114);
    background-blend-mode:difference;
    background-repeat: round;
    width: 90%;
    height: auto;       /* keeps full image ratio */
    padding: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: center;
}

.paperstylexmas p {
    background: rgba(76, 224, 31, 0.479);
    color: rgb(0, 0, 0);
    text-align: left;
    width: fit-content;
    padding-left: 1%;
    padding-right: 1%;
    font-weight: bold;
    font-family: Facade, monospace;
    font-size: 140%;
}
.paperstylexmas h2 {
    background: rgba(179, 16, 212, 0.582);
    width: fit-content;
    height: fit-content;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    padding-left: 1%;
    padding-right: 1%;
    color: rgb(153, 255, 57);
    font-family: Anthony;
    font-size: 200%;
}
.paperstylexmas a {
    background: rgb(163, 255, 57);
    color: rgb(16, 0, 233);
    text-align: left;
    width: fit-content;
    padding-left: 1%;
    padding-right: 1%;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    font-size: 160%;
}

.overlaycard {
    width: 1200px;
    height: 1800px;

    display: flex;
    flex-direction: row;

    background-image: url("res/navidadapocrifa/basecard.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    padding: 80px; /* safe margins */
    box-sizing: border-box;

    border-radius: 24px;
    image-rendering: pixelated;
}

.overlay-scaler {
    max-width: 90vw;
    max-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-left,
.card-right {
    height: 100%;
}

.card-left {
    padding-top: 3%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}

.card-right {
    width: 10%;
    padding-right: 8%;
    padding-left: 5%;
    max-width: 35%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-left img {
    max-width: 100%;
    max-height: 28%;
    object-fit: contain;
    border-radius: 0;
    box-shadow: 0 0 0px rgba(0,0,0,0);
}

.card-right .card-text {
    color: #2402a0;
    font-size: 160%;
    font-family: HandWritten;
    text-align: center;
    line-height: 1.2;
    white-space: pre-wrap;
}

.christmas-tree {
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    width: 80%;   /* tree width */
    height: 2000px;  /* tree height */
    background: url("/maius/res/img/gallery/arbolote.png") no-repeat center;
    background-size: contain;
}

.tree-card {
    position: absolute;
    cursor: pointer;
    /* optional: add a small border or shadow for visibility */
}
.tree-card img {
    image-rendering: pixelated;
    width: 100px;
    max-height: 100px;
    height:min-content;
}

.tree-card:nth-child(1) { top: 13%; left: 48%; }
.tree-card:nth-child(2) { top: 17%; left: 43%; }
.tree-card:nth-child(3) { top: 23%; left: 51%; }
.tree-card:nth-child(4) { top: 25%; left: 30%; }
.tree-card:nth-child(5) { top: 40%; left: 30%; }
.tree-card:nth-child(6) { top: 50%; left: 30%; }
.tree-card:nth-child(7) { top: 55%; left: 30%; }
.tree-card:nth-child(8) { top: 58%; left: 51%; }
.tree-card:nth-child(9) { top: 60%; left: 30%; }
.tree-card:nth-child(10) { top: 62%; left: 30%; }
.tree-card:nth-child(11) { top: 64%; left: 30%; }
.tree-card:nth-child(12) { top: 66%; left: 30%; }
.tree-card:nth-child(13) { top: 68%; left: 48%; }
.tree-card:nth-child(14) { top: 70%; left: 43%; }
.tree-card:nth-child(15) { top: 72%; left: 51%; }
.tree-card:nth-child(16) { top: 13%; left: 48%; }
.tree-card:nth-child(17) { top: 17%; left: 43%; }
.tree-card:nth-child(18) { top: 23%; left: 51%; }
.tree-card:nth-child(19) { top: 25%; left: 30%; }
.tree-card:nth-child(20) { top: 40%; left: 30%; }
.tree-card:nth-child(21) { top: 50%; left: 30%; }
.tree-card:nth-child(22) { top: 55%; left: 30%; }
.tree-card:nth-child(23) { top: 58%; left: 51%; }
.tree-card:nth-child(24) { top: 60%; left: 30%; }
.tree-card:nth-child(25) { top: 62%; left: 30%; }
.tree-card:nth-child(26) { top: 64%; left: 30%; }
.tree-card:nth-child(27) { top: 66%; left: 30%; }
.tree-card:nth-child(28) { top: 68%; left: 48%; }
.tree-card:nth-child(29) { top: 70%; left: 43%; }
.tree-card:nth-child(30) { top: 72%; left: 51%; }
.tree-card:nth-child(31) { top: 75%; left: 51%; }