* {
    font-family: 'VT323', monospace;
    text-decoration: none;
}

/*barrita*/
.navbar {
    background-color: #000000;
}
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a img {
    height: 160px;
    cursor: pointer;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}
li a {
    color: white;
    font-size: 25px;
    cursor: pointer
}
.top_button {
    display: inline-flex;
    align-items: center;
    background-color: #3d234e;
    color: rgb(216, 206, 65);
    border: none;
    padding: 10px 16px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    gap: 8px; /* espacio entre imagen y texto */
}

.top_button img {
    width: 40px;
    height: 40px;
}
.insta_button {
    height: 160px;
    cursor: pointer;
}
.insta_button img {
    height: 100px;
}
.insta_button img:hover {
    background-image: url('res/img/instagram_hover.png');
}

/*cuerpo*/
.skeletonseparator1 {
    text-align: center;
    width: 80%;
    padding-left: 15%;
}

body h1 {
    color:#a3349e;
}

body {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size:x-large;
    color:rgb(255, 255, 0);
    background-color: #000000;
}

